/*  your css code here. If applicable */
#grid {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, 242.5px);
	grid-template-rows: repeat(5, 124px);
}
.item1{
	grid-column: span 4 / auto;
	background-color: green;
	
}
.item2 {
	grid-row: span 4 / auto;
	background-color: green;
	
}
.item3{
	background-color: green;
	
}
.item4{
	background-color: green;
	grid-column: span 2/ auto;
}
.item5{
	background-color: green;
	grid-column: span 2/ auto;
}
.item6 {
	background-color: green;
	/* border: 1px solid black; */
	text-align: center;
}
.item7 {
	background-color: green;
	/* border: 1px solid black; */
	text-align: center;
}
.item8 {
	background-color: green;
	/* border: 1px solid black; */
	text-align: center;
}
.item9 {
	background-color: green;
	/* border: 1px solid black; */
	
}
.item10 {
	grid-column: span 3 / auto;
	background-color: green;
}